.corpoPagina {
    padding-bottom: 100px;
}

.carroceu{
    width: 99.8vw;
    display: flex;
    align-items: center;
}

.conteudo {
    width: auto;
    height: fit-content;

    margin-top: 10vh;
    padding-left: 15vw;
    padding-right: 15vw;
    padding-bottom: 45vh;
}

.direita {
    float: right;
}

.esquerda {
    float: left;
}

.blocoTeste {
    height: 200px;
    width: 200px;
    background-color: green;
}