<div class="header">

    <div class="containerHeader">

        <div class="logoHeader">
            <img class="imgHeader" src="https://image.flaticon.com/icons/png/512/1012/1012677.png" alt="Icone do site... é um pato">
            <span class="txtHeader">Site Legal</span>

        </div>

        <div class="divBtn">
            <button class="btn" mat-raised-button color="primary">
                Login
                <span class="material-icons" style="margin-left: 4px;">
                    login
                </span>
            </button>
        </div>

    </div>
</div>